.footer{
    height: 88px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:static;
    bottom: 0;
}
.footer a{
    text-decoration: none;
    color: black;
}